{% extends "default.html" %}
{% block title %}
<title>Recipe Info</title>
{% endblock title %}

{% block content %}
    
    <h1>Edit Recipe</h1>
    <div id="update-form">
        <form action="/updateRecipe" method="POST">
            <label for="id">Recipe ID: </label>
            <input type="text" name="id" value="{{ recipe.id }}"><br>

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{ recipe.title }}"><br>
        
            <label for="image">Image URL:</label>
            <textarea type="text" id="image" name="image">{{recipe.image }}"></textarea><br>

            <label for="website">Website URL:</label>
            <input type="text" id="website" name="website" value="{{ recipe['website'] }}" size="50px"><br>
            
            <label for="vegetarian">Vegetarian:</label>
            <input type="text" id="vegetarian" name="vegetarian" value="{{ recipe.vegetarian }}"><br>
        
            <label for="vegan">Vegan:</label>
            <input type="text" id="vegan" name="vegan" value="{{ recipe.vegan }}"><br>
        
            <label for="glutenFree">Gluten Free:</label>
            <input type="text" id="glutenFree" name="glutenFree" value="{{ recipe.glutenFree }}"><br>
        
            <label for="summary">Summary:</label>
            <textarea type="text" id="summary" name="summary">{{ recipe.summary }}"></textarea><br>
        
<label for="ingredients">Ingredients:</label>
<textarea id="ingredients" rows="4"
    name="ingredients">{% for ingredient in recipe.ingredients %}{{ ingredient }}{% if not loop.last %}, {% endif %}{% endfor %}</textarea><br>

        
        
            
            <label for="instructions">Instructions:</label>
            <textarea id="instructions" name="instructions">{{ recipe.instructions }}</textarea><br>
        
            <button type="submit">Save Changes</button>
        </form>
    </div>
{% endblock content %}