{% extends "default.html" %}
    {% block title %}
    <title>Random recipe</title>
    {% endblock title %}
    {% block content %}

    <h1>Random Recipe</h1>
    <h3>Title: {{recipe.title}}</h3>
    <h4>ID: {{recipe.id}}</h4>
    <save-recipe></save-recipe>
    <h4>Summary: {{recipe.summary}}</h4>
    <a href={{recipe.website}}>website</a>
    <h4>Instructions: {{recipe.instructions}}</h4>
    <img src="{{ recipe.image }}" alt="No Image Available" width="200">
    <h4>Ingredients:</h4>
    <p>
        {% for recipe in recipe.ingredients %}
            <p>
                <h3>{{ recipe }}</h3>
                
            </p>
        {% endfor %}

        </p>

    {% endblock content %}