{% extends "default.html" %}
    {% block title %}
    <title>Random recipe</title>
    {% endblock title %}
    {% block content %}

    <h1>PantryPal</h1>
    <h3>Search By {{selection}}</h3>
    <ul>
        {% for recipe in recipeList %}
            <p>
                <h3>{{ recipe.title }}</h3>
                <img src="{{ recipe.image }}" alt="No Image Available" width="200">
                <a href="/idInfo?value={{recipe.id}}">View Recipe</a>
                
            </p>
        {% endfor %}

    </ul>
    <return-home></return-home>
    
    {% endblock content %}