{% extends "default.html" %}
    {% block title %}
    <title>user data</title>
    {% endblock title %}
    {% block content %}
    
    <p>
        {% for recipe in recipeList %}
            <p>
                <h4>{{ recipe['_id'] }}</h4>
                <div class="saved-options">
                    <form action="/viewRecipe" method="GET">
                        <button type="submit">View Recipe</button>
                        <input type="hidden" name="username" value="{{username}}">
                        <input type="hidden" name="recipe" value="{{recipe['_id']}}">
                    </form>
                    <form action="/edit" method="POST">
                        <button type="submit">Edit</button>
                        <input type="hidden" name="username" value="{{username}}">
                    </form>
                    <form action="/delete" method="POST">
                        <input type="hidden" name="recipe_id" value="{{ recipe['_id'] }}">
                        <input type="hidden" name="username" value="{{username}}">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </p>
        {% endfor %}

    </p>
    <return-home></return-home>
    {% endblock content %}