{% extends "default.html" %}
{% block title %}
<title>Recipe Info</title>
{% endblock title %}

{% block content %}

    <div id="recipe-header">
        <h1>{{recipe.title}}</h1>
        <h3>ID: {{recipe.id}}</h3>
        <a href={{recipe.website}}>website</a>
        <img src="{{ recipe.image }}" alt="No Image Available" width="400">
    </div>

    <p>
        <b>Summary:</b>
        {{recipe.summary}}
    </p>

    <h4>Instructions: {{recipe.instructions}}</h4>
    
    <h3>Ingredients:</h4>
    <p>
        {% for ingredient in recipe.ingredients %}
        <p>
            <h4>{{ ingredient }}</h4>
        </p>
        {% endfor %}

    </p>
    <return-home></return-home>
    {% endblock content %}
    
