:root {
    --button-text-color: black;
    --background-color-darker: rgb(240, 240, 240);
    --page-bckgrnd-color: white;
    --box-border-radius: 5px;
    --img-border-radius: 25px;
}

#nav-header{
    display: flex;
    justify-content: right;
    padding-right: 50px;
    padding-top: 5px;
}

#search-options{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

#search_criteria {
    border-radius: var(--box-border-radius);
}

#recipe-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    button{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h1{
        margin-bottom: 5px;
    }

    h3{
        margin-top: 0px;
        margin-bottom: 25px;
    }

    img{
        border-radius: var(--img-border-radius);
    }
}

#update-form{
    text-align: left;
    margin: 0 auto;
    width: 50%;
    h1 {
        display: flex;
        text-align: left;
        
    }
    label {
        display: block;
        padding-bottom: 8px;
    }
    input {
        width: 50%;
        padding: 8px;
        margin: 8px 0;
        font-size: 18px;
    }
    textarea {
        resize: none;
        font-size: 18px;
        width: auto;
    }
    
}

#team-logo {
    display: flex;
    text-align: left;
    margin-left: 250px;

    h1 {
        margin-top: 0;
        padding-top: 20px;
        padding-left: 45px;
        font-size: 60px;
        font-family: Tahoma;
    }
}

.recipe-info{
    max-width: 950px;
    text-align: center;
    margin: 0 auto;
}
#recipe-items{
    padding-top: 5px;
    font-size: 16px;
    h3{
        font-size: 20px;
        margin-bottom: 8px;
    }
}

.instruct-left{
    text-align: left;
    min-width: 400px;
    max-width: 600px;
    margin-right: 30px;
    padding-right: 5px;
    border-right: 3px solid var(--button-text-color);
    line-height: 20px
    
}
.ingredient-list{
    text-align: left;
    list-style-type: none;
    padding-left: 15px;
    
    li{
        line-height: 25px;
    }
}

.ingredient-list input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
    accent-color: #90d3a4;
}

.side-by-side{
    display: flex;
}

.saved-recipe{
    font-size: large;
    h4{
        min-height: 50px;
        max-height: 50px;
        margin-bottom: 0px;
    }
    button {
        min-width: 65px;
    }
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    padding-bottom: 50px;

}

.recipeSearch {
    min-width: max-content;
    padding-right: 50px;
}

.recipeSearch input[type=text] {
    font-size: 17px;
    padding: 10px;
}

.saved-options{
    display: flex;
    justify-content: center;
}

.image{
    width: 100%;
    border-radius: var(--box-border-radius);
}
label{
    padding: 0px 5px;
    font-size: 20px
}

header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

h2{
    margin-top: 30px;
    font-size: larger;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--page-bckgrnd-color);
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

button {
    font-size: 18px;
    border-radius: var(--box-border-radius);
    background-color: var(--background-color-darker);
    color: var(--button-text-color);
    padding: 5px;
    margin-left: 5px;
    white-space: nowrap;
}

button:hover {
    background-color: rgb(209, 209, 209);
    transform: translateY(-1px);
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(123, 157, 174);
    cursor: pointer
}

.loginBtn {
    display: flex;
    padding-top: 18px;
    img {
            border-radius: none;
        }

}
.loginImg {
    border-radius: none;
    padding-right: 10px;
}

.randomBtn {
    border-radius: none;
    padding-right: 20px;

}



.categorySearch {
    overflow: hidden;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    background: rgb(20, 20, 20);
    display: inline-block;
    width: 98%;
    height: 85px; 
}
.categorySearch input[type=text] {
    font-size: 17px;
    float: right;
    padding: 10px;

}

.showRandom {
    padding-top: 30px;
    
    h1{
        text-decoration: underline;
        font-size: 35px;
    }
}

form {
    padding: 0px 5px;
}

img{
    padding-bottom: 10px;
    border-radius: var(--img-border-radius);
}

textarea{
    width: 400px;
    min-height: 40px;
    max-height: 500px;
}


input[type=text] {
    border-radius: var(--box-border-radius);
}

a{
    color:rgb(21, 91, 172)
}
a:visited{
    color: rgb(12, 61, 116);
}
.listRecipes {
    line-height: 180%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px , 1fr));
    grid-gap: 10px;
    p1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}