{% extends "default.html" %}
{% block title %}
<title>Recipe Info</title>
{% endblock title %}

{% block content %}
<h3>Add your faves</h3>
<h3>Title: {{recipe.title}}</h3>
<h4>ID: {{recipe.id}}</h4>
<img src="{{recipe.image}}" alt="No Image Available" width="300">
<p>Enter username in order to save</p>
<form action="/add_recipe" action="/addfave" method="POST">
    <label for="User">Username:</label>
    <input type="text" id="user_name" required name="user_name">
    <label for="Password">Password:</label>
    <input type="password" id="password" name="password">
    <input type="hidden" name="title" value="{{ recipe.title }}">
    <input type="hidden" name="id" value="{{ recipe.id }}">
    <input type="hidden" name="summary" value="{{ recipe.summary }}">
    <input type="hidden" name="image" value="{{ recipe.image }}">
    <input type="hidden" name="website" value="{{ recipe.website }}">
    <input type="hidden" name="ingredients" value="{{ recipe.ingredients }}">
    <input type="hidden" name="vegetarian" value="{{ recipe.vegetarian }}">
    <input type="hidden" name="vegan" value="{{ recipe.vegan }}">
    <input type="hidden" name="glutenFree" value="{{ recipe.glutenFree }}">
    <input type="hidden" name="instructions" value="{{ recipe.instructions }}">
    <input type="hidden" name="instruc" value="{{ recipe.extendedIngredients }}">
    <button type="submit">Save</button>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</form>
or
<return-home></return-home>
{% endblock content %}