<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="static\scripts.js"></script>
    <title>Home</title>
</head>
<body>
   
<div id="nav-header">
    <div class="recipeSearch">
        <p>
        <form action="/id" method="POST">
            <label for="data_input">Search by ID:</label>
            <input type="text" id="data_input" name="data_input" placeholder="Recipe ID">
            <button type="submit">Submit</button>
        </form>
        </p>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    </div>
    <div class="loginBtn">
        <img src="https://cdn-icons-png.freepik.com/256/64/64572.png" alt="Login" class="loginImg" width="35px"
            height="35px">
        <a href="/login"><button>Log In</button></a>
    </div>
    <div class="loginBtn">
        <a href="/signup"><button>Sign Up</button></a>
    </div>
</div>

<div id="team-logo">
    <div class="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/1397/1397128.png" alt="Logo" width="100px" height="100px">
    </div>
    <h1>BugBashers</h1>
</div>

<div class="categorySearch">
    <form action="/searchResults" method="POST" id="search-options">
        <label for="search_query">Search by Category:</label>
        <input type="text" id="search_query" name="search_query" placeholder="Ingredient, Diet, Cuisine">
        <label for="search_criteria"></label>
        <select id="search_criteria" name="search_criteria">
            <option value="ingredient">ingredient</option>
            <option value="diet">diet</option>
            <option values="cuisine">cuisine</option>
        </select>
        
        <button type="submit">Search</button>
    
        
        
    </form>
   
</div>

<div>
    
    <a href="/random"><button>Random Recipe</button></a>
        
</div>


<div class="showRandom">
    <h1><a href="/recipeToday">Recipe of The Day</a></h1>
    <p>
        <iframe src="/recipeToday" width="70%" height="400px" frameBorder="0" scrolling="no">Browser not compatible. </iframe>
    </p>
</div>
</body>
