{% extends "default.html" %}
    {% block title %}
    <title>user data</title>
    {% endblock title %}
    {% block content %}
    
    <div style="display: flex; justify-content: space-between;">
    <form action="/createNewRecipe" method="POST">
        <input type="hidden" name="username" value="{{username}}">
        <button type="submit">Create Recipe</button>
    </form>
    <br>
    <return-home></return-home>
    </div>
    <h1> Saved Recipes </h1>

    <div class="recipe-grid">
        {% for recipe in recipeList %}
            <div class="saved-recipe">
                <h4>{{ recipe['_id'] }}</h4>
                <img src="{{ recipe['data']['image'] }}" alt="No Image Available" width="300">
                <div class="saved-options">
                    <form action="/view" method="GET">
                        <button type="submit">View Recipe</button>
                        <input type="hidden" name="username" value="{{username}}">
                        <input type="hidden" name="recipe" value="{{recipe['_id']}}">
                    </form>
                    <form action="/edit" method="GET">
                        <button type="submit">Edit</button>
                        <input type="hidden" name="username" value="{{ username }}">
                        <input type="hidden" name="recipe" value="{{ recipe['_id'] }}">
                    </form>
                    <form action="/delete" method="POST">
                        <input type="hidden" name="recipe_id" value="{{ recipe['_id'] }}">
                        <input type="hidden" name="username" value="{{username}}">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock content %}