{% extends "default.html" %}
{% block title %}
<title>Recipe Info</title>
{% endblock title %}

{% block content %}

<div id="recipe-header">
    <h1>{{recipe.title}}</h1>
    <h3>ID: {{recipe.id}}</h3>

    {% if random == 1 %}
    <a href="/random"><button type="submit">New Random Recipe</button></a>
    {% endif %}

    <img src="{{ recipe.image }}" alt="No Image Available" width="400">
    <!-- <a href={{recipe.website}}>website</a> -->
        {% if saved == 1 %}
        <div style="display: flex;">
            <form action="/edit" method="GET">
                <button type="submit">Edit Recipe</button>
                <input type="hidden" name="username" value="{{ username }}">
                <input type="hidden" name="recipe" value="{{ recipe.title }}">
            </form>
            <form action="/userdata" method="GET">
                <input type="hidden" id="user_name" name="user_name" value="{{ username }}">
                <button type="submit">Return To Saved Recipes</button>
            </form>
        </div>
        {%else%}
            <a href="/addFave?value={{ recipe.id }}"><button type="submit">Add to Favorites</button></a>
        {% endif %}
</div>

<div id="recipe-items">
    <div class="recipe-info">
    <p>
        <h3><b><u>Summary</u></b></h3>
        {{recipe.summary}}
    </p>
    </div>

    <div class="recipe-info">
        <div class="side-by-side">
    
            <div class="instruct-left">
                <h3><b><u>Instructions</u></b></h3>
                {% if recipe.instructions %}
                    {% set instructions = recipe.instructions.split('. ') %}
                    {% for instruction in instructions %}
                        {% set index = loop.index %}
                        <b>{{ index }}.</b> {{ instruction }}<br><br>
                    {% endfor %}
                {% else %}
                    None were found.
                {% endif %}
            </div>
            
            <div class="ingredient-list">
                <h3><b><u>Ingredients</u></b></h3>
            <h4>
                {% for ingredient in recipe.ingredients %}
                {% for part in ingredient.split('+') %}
                <li><input type="checkbox">{{ part.strip() }}</li>
                {% endfor %}
                {% endfor %}
            </h4>
            </div>
        </div>
    </div>
</div>



{% if saved == 1 %}
<form action="/userdata" method="GET">
    <input type="hidden" id="user_name" name="user_name" value="{{ username }}">
</form>
{% endif %}

{% if saved == 0 %}
<return-home></return-home>
{% endif %}
{% endblock content %}